<!-- FOOTER -->
<footer>
    <h3>Copyright © 2023 SoundPlex</h3>
</footer>
<!-- FOOTER -->

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bez.js"></script>
<script src="/javascripts/pace.js"></script>
<script src="/javascripts/index.js"></script>