<!-- HEADER -->
<header>

    <!-- NAVIGATION -->
    <nav class="navigation">
        <div class="logo hover" style="width: 40%;display: flex;justify-content: space-between;align-items: center;">
            <a href="#" class="text reveal title">SoundPlex</a>            
        </div>

        <div class="menu-bar hover" style="justify-content: space-around; width: 30%;">
            <div class="menu-bar-name text" style="width: 100%;">
                <ul class="navigation-ul">                    
                    <li><a href="admin/add" class="sigin">Agregar Producto</a></li>
                    <li><a href="admin/new-category" class="sigin">Agregar Categoría</a></li>
                    <li><a href="#">|</a></li>                    
                    <li><a href="admin/logout">Cerrar Sesión</a></li>
                    <li></li>
                </ul>
            </div>           
            <div class="menu-bar-lines text">
                <div class="menu-bar-line"></div>
                <div class="menu-bar-line"></div>
            </div>
        </div>
    </nav>
    <!-- NAVIGATION -->

    <!-- HEADPHONE IMG -->
    <div class="headphone img text">
        <img src="/images/headphone.png" class="text" alt="headphone">
    </div>
    <!-- HEADPHONE IMG -->

    <div class="new-release img text" style="display: none;">
        <button class="close hover" type="button">X</button>
        <img src="/images/album-thumbnail-one.jpg" alt="new-release">
        <div class="song-details">
        </div>   
    </div>

</header>
<!-- HEADER -->