<!-- NAVIGATION CONTENT -->

<div class="navigation-content">
    <div class="navigation-logo hover opacity">
        <a href="#" class="text">SoundPlex</a>
    </div>    
    <ul class="navigation-ul">
        <li><a href="admin/add" data-text="Nuevo Producto" data-img="/images/blog-img.jpg">Nuevo Producto</a></li>
        <li><a href="admin/new-category" data-text="Nueva Cartegoría" data-img="/images/blog-img.jpg">Nueva Categoría</a>
        </li>
        <li><a href="admin/logout" data-text="Cerrar Sesión" data-img="/images/about-img.jpg">Cerrar Sesión</a></li>
    </ul>
    <div class="navigation-close hover about-close opacity">
        <div class="navigation-close-line"></div>
        <div class="navigation-close-line"></div>
    </div>

    <div class="project-preview"></div>


    <!-- HEADPHONE IMG -->
    <div class="headphone-navigation opacity">
        <img src="/images/headphone.png" title="headphone zone" class="text" alt="headphone">
    </div>
    <!-- HEADPHONE IMG -->

</div>

<!-- NAVIGATION CONTENT -->
