<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <h1>Eduardo Lopez</h1>
      <ul>
      <li>Cédula: 30.780.909</li>
      <li>Materia: Programación 3</li>
      <li>Sección: 4</li>
      </ul>
    </main>
  </body>
</html>
