<!-- NAVIGATION CONTENT -->

<div class="navigation-content">
    <div class="navigation-logo hover opacity">
        <a href="#" class="text">SoundPlex</a>
    </div>
    <ul class="navigation-ul">
        <li><a href="/login" data-text="Nue" data-img="/images/about-img.jpg">Iniciar Sesión</a></li>
        <li><a href="/sigin" data-text="Registrarse" data-img="/images/blog-img.jpg">Registrarse</a></li>
        <li><a href="/" data-text="Inicio" data-img="/images/bg-image-three.jpg">Inicio</a></li>
        <li><a href="/songs" data-text="Músicas" data-img="/images/album-thumbnail-nine.jpg">Músicas</a></li>
    </ul>
    <div class="navigation-close hover about-close opacity">
        <div class="navigation-close-line"></div>
        <div class="navigation-close-line"></div>
    </div>

    <div class="project-preview"></div>


    <!-- HEADPHONE IMG -->
    <div class="headphone-navigation opacity">
        <img src="/images/headphone.png" title="headphone zone" class="text" alt="headphone">
    </div>
    <!-- HEADPHONE IMG -->

</div>

<!-- NAVIGATION CONTENT -->