<!-- CUSTOM CURSOR -->
<div class="cursor scale"></div>
<div class="cursor-two scale"></div>
<!-- CUSTOM CURSOR -->

<!-- PRELOADER -->
<div id="preloader">
    <div class="p">
        <img src="/images/headphone.png" alt="headphone">
        Use Headphone For Better Experience
    </div>
</div>
<!-- PRELOADER -->